.environment_li{
    margin-top:13px;
    
}
.environt_li h4{
    border-bottom: 1px solid white;
        padding:8px;
}
.environment_li img{
    border-radius:75px;
}
.environment_p{
    margin-top: 10px;
}